<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.core.farm.mapper.FarmQuestionAnswersRecordMapper">
  <resultMap id="BaseResultMap" type="com.farm.base.farm.FarmQuestionAnswersRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="question_title" jdbcType="VARCHAR" property="questionTitle" />
    <result column="answer_id" jdbcType="INTEGER" property="answerId" />
    <result column="answer_option" jdbcType="VARCHAR" property="answerOption" />
    <result column="answer_context" jdbcType="VARCHAR" property="answerContext" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="updater_id" jdbcType="VARCHAR" property="updaterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, question_id, question_title, answer_id, answer_option, answer_context, creator_id, 
    updater_id, create_time, update_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from farm_question_answers_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from farm_question_answers_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.farm.base.farm.FarmQuestionAnswersRecord" keyProperty="id" useGeneratedKeys="true">
    insert into farm_question_answers_record (id, question_id, question_title,
      answer_id, answer_option, answer_context, 
      creator_id, updater_id, create_time, 
      update_time, del_flag)
    values (#{id,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{questionTitle,jdbcType=VARCHAR}, 
      #{answerId,jdbcType=INTEGER}, #{answerOption,jdbcType=VARCHAR}, #{answerContext,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=VARCHAR}, #{updaterId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.farm.base.farm.FarmQuestionAnswersRecord" keyProperty="id" useGeneratedKeys="true">
    insert into farm_question_answers_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="questionTitle != null">
        question_title,
      </if>
      <if test="answerId != null">
        answer_id,
      </if>
      <if test="answerOption != null">
        answer_option,
      </if>
      <if test="answerContext != null">
        answer_context,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="questionTitle != null">
        #{questionTitle,jdbcType=VARCHAR},
      </if>
      <if test="answerId != null">
        #{answerId,jdbcType=INTEGER},
      </if>
      <if test="answerOption != null">
        #{answerOption,jdbcType=VARCHAR},
      </if>
      <if test="answerContext != null">
        #{answerContext,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farm.base.farm.FarmQuestionAnswersRecord">
    update farm_question_answers_record
    <set>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="questionTitle != null">
        question_title = #{questionTitle,jdbcType=VARCHAR},
      </if>
      <if test="answerId != null">
        answer_id = #{answerId,jdbcType=INTEGER},
      </if>
      <if test="answerOption != null">
        answer_option = #{answerOption,jdbcType=VARCHAR},
      </if>
      <if test="answerContext != null">
        answer_context = #{answerContext,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.base.farm.FarmQuestionAnswersRecord">
    update farm_question_answers_record
    set question_id = #{questionId,jdbcType=INTEGER},
      question_title = #{questionTitle,jdbcType=VARCHAR},
      answer_id = #{answerId,jdbcType=INTEGER},
      answer_option = #{answerOption,jdbcType=VARCHAR},
      answer_context = #{answerContext,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      updater_id = #{updaterId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>