<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.core.farm.mapper.FarmQuestionMapper">
  <resultMap id="BaseResultMap" type="com.farm.base.farm.FarmQuestion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="updater_id" jdbcType="VARCHAR" property="updaterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>

  <resultMap id="questionResultMap" type="com.farm.core.farm.QuestionVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title"  property="title" />
    <collection property="answersList" ofType="com.farm.core.farm.AnswersVO" javaType="java.util.List">
      <id column="answers_id" jdbcType="INTEGER" property="answerId" />
      <result column="question_id"  property="questionId"/>
      <result column="options" property="options"/>
      <result column="context"  property="context"/>
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, title, creator_id, updater_id, create_time, update_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from farm_question
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByParams" parameterType="com.farm.base.farm.FarmQuestion" resultMap="questionResultMap">
    select
    q.id,q.title,a.id as answers_id,a.question_id ,a.options,a.context
    from farm_question q JOIN farm_answers a on q.id= a.question_id
    where q.del_flag = 0 and a.del_flag=0

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from farm_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.farm.base.farm.FarmQuestion">
    insert into farm_question (id, title, creator_id, 
      updater_id, create_time, update_time, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, 
      #{updaterId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.farm.base.farm.FarmQuestion">
    insert into farm_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farm.base.farm.FarmQuestion">
    update farm_question
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.base.farm.FarmQuestion">
    update farm_question
    set title = #{title,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      updater_id = #{updaterId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>